*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.375;
    color: #7B8591;
    font-weight: 300;
}

h1 {
    font-weight: normal;
    font-size: 48px;
    color: #FFF;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header-txt {
    text-align: center;
    padding: 0 185px;
}

.header-txt h1 {
    margin: 90px 0 16px;
}

.header-txt p {
    font-size: 24px;
    letter-spacing: -.19px;
    color: #FFF;
    margin: 0 0 50px;
}

.header-txt ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.header-txt ul li a{
    font-size: 30px;
    color: #FFF;
    padding: 0 10px;
}
.header-txt ul li a:hover{
    color: tomato;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}


/*
=================================================
blog card 
=================================================
*/

.blog-card {
    width: 33.333%;
    padding: 15px;
    float: left;
}

.blog {
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
}

.blog:hover {
    box-shadow: 0 0 6px 0 rgba(2, 194, 43, 0.37);
}

.blog img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.blog strong {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2.2px;
    display: inline-block;
    margin: 27px 0 10px 37px;
}

.blog strong a {
    color: #303336;
}

.blog h2 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1.15px;
    margin: 0 34px 10px 37px;
}

.blog h2 a {
    color: #000;
}

.blog p {
    margin: 0 34px 10px 37px;
}


/*
=================================================
category card 
=================================================
*/

.category-card {
    width: 66.6666%;
    padding: 15px;
    float: left;
}

.category {
    background-color: #fff;
    border-radius: 10px;
    padding: 46px;
}

.category:after {
    content: "";
    display: block;
    clear: both;
}

.img-wrap {
    width: 293px;
    float: left;
}

.img-wrap a,
.img-wrap img {
    display: block;
}

.img-wrap img {
    width: 100%;
    border-radius: 10px;
}
.img-wrap img:hover {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out 2 both;
	        animation: pulsate-fwd 0.5s ease-in-out 2 both;
}

.content-wrap {
    margin-left: 331px;
}

.days {}

.days:after {
    content: "";
    display: block;
    clear: both;
}

.days a {
    display: block;
    float: left;
    width: 100px;
    margin-right: 22px;
}

.days a:last-child {
    margin-right: 0;
}

.days a img {
    display: block;
    border-radius: 10px;
    width: 100%;
}

.days a span {
    display: block;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: #505AEF;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    margin: -10px 10px 0;
    position: relative;
    line-height: 19px;
}







@font-face {
    font-family: 'indegene-demo';
    src:
      url('fonts/indegene-demo.ttf?g2a8yn') format('truetype'),
      url('fonts/indegene-demo.woff?g2a8yn') format('woff'),
      url('fonts/indegene-demo.svg?g2a8yn#indegene-demo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'indegene-demo' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-layers:before {
    content: "\e031";
  }
  .icon-search:before {
    content: "\e037";
  }
  .icon-strategy:before {
    content: "\e03b";
  }
  .icon-beaker:before {
    content: "\e03c";
  }
  .icon-wine:before {
    content: "\e043";
  }
  .icon-globe:before {
    content: "\e045";
  }
  .icon-location:before {
    content: "\e047";
  }
  .icon-chat:before {
    content: "\e049";
  }
  .icon-heart:before {
    content: "\e04a";
  }
  .icon-target:before {
    content: "\e04e";
  }
  .icon-compass:before {
    content: "\e053";
  }
  .icon-happy:before {
    content: "\e05b";
  }
  .icon-sad:before {
    content: "\e05c";
  }
  .icon-facebook:before {
    content: "\e05d";
  }
  .icon-twitter:before {
    content: "\e05e";
  }
  .icon-googleplus:before {
    content: "\e05f";
  }
  .icon-linkedin:before {
    content: "\e062";
  }
  




 /* ----------------------------------------------
 * Generated by Animista on 2020-10-6 14:31:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  