/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */


/*

Box related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  width: <length>
    ^ default value auto - for block level it is 100%, for inline it is content width
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  min-width: <length>
    ^ default value auto - for block level it is 100%, for inline it is content width
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  max-width: <length>
    ^ default value auto - for block level it is 100%, for inline it is content width
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  height: <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  min-height: <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  max-height: <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to 
                all block level elements
                all floated elements
                all positioned elements
    ^ You can animate

~  overflow: visible | hidden | scroll | auto
    ^ default value visible
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can animate

~  overflow-x: visible | hidden | scroll | auto
~  overflow-y: visible | hidden | scroll | auto

~  padding-top: 
~  padding-right: 
~  padding-bottom: 
~  padding-left: 

~  padding: 
    ^ default value is
            for ol and ul padding-left 40px
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements, except
            padding-top and padding-bottom, they won't
            work on inline elements
    ^ You can animate



~  margin-top: 
~  margin-right: 
~  margin-bottom: 
~  margin-left: 

~  margin: 
    ^ default value 
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements, except
            margin-top and margin-bottom, they won't
            work on inline elements
    ^ You can animate

~  box-sizing: content-box | padding-box | border-box
    ^ default value content-box
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can't animate


~  float : none | left | right
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can animate


~  clear: none | left | right | both
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be to all elements
    ^ You can't animate









cursor:
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor



opacity 
resize - none | both | horizontal | vertical | block | inline
Flexbox
column-count
column-gap
column-fill – auto | balance
column-rule - <'column-rule-width'> || <'column-rule-style'> || <'column-rule-color'>

grids


auto;
inherit;

Box related important links
+++++++++++++++++++++++++++++++++++++++++++



*/


/* ===================================
        CSS reated FLoat Demo
        *********************
=====================================*/

.kg-wrapper {
    background-color: lightblue;
    padding: 0 10px 10px;
    margin-bottom: 20px;
}

.kg-wrapper h2 {
    background-color: deepskyblue;
    text-align: center;
    line-height: 46px;
    margin: 0 -10px 20px;
}

._box1 {
    border: dashed 1px red;
    width: 20%;
    min-height: 50px;
    margin: 0;
}

._inline-demo {}

._inline-demo ._box1 {
    display: inline-block;
}

._inline-demo ._box1:nth-child(5) {
    height: 80px;
}

._float-demo ._box1 {
    float: right;
    box-sizing: border-box;
}

._float-demo div:nth-of-type(6) {
    height: 90px;
}

.kg-wrapper:after {
    content: "";
    display: block;
    clear: both;
}

._parent {
    background-color: lightgreen;
    margin-bottom: 20px;
}

._parent * {
    border: solid 3px red;
}

.first-child {
    float: left;
}

.second-child {
    border: solid 5px blue;
    clear: both;
}

.clear {
    clear: both;
}

.float-right {
    float: right;
}

.cf:after {
    content: "";
    clear: both;
    display: block;
}

.nav {
    background-color: gold;
    padding: 10px;
    color: indigo;
    border-radius: 10px;
    margin-bottom: 50px;
}

.nav:after {
    display: block;
    clear: both;
    content: "";
}

.logo {
    float: left;
    border: 1px solid #000;
}

.contact {
    border: 1px solid #F00;
    float: right;
}

.nav nav {
    border: 4px solid #000;
    clear: both;
}

.nav nav a {
    display: block;
}