@import "08-at-rules.css";


/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  position: static | relative | absolute | fixed  |  sticky
    ^ default value static
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
    eg: 
      .someclass{position:relative}
      .someclass{position:absolute}
      .someclass{position:sticky}
      .someclass{position:fixed}

~  top   : <length>
~  bottom: <length>
~  right : <length>
~  left  : <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate

~  z-index: auto | <integer>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate



~  visibility: visible | hidden | collapse
Applies to all elements
overflow: visible | hidden | scroll | auto
overflow-x
overflow-y


auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

*/

/* ==========================================================================
   Demo of Position related properties
   ========================================================================== */
.box{
    border: 5px solid #000;
}
.box div{
    min-height: 40px;
    padding: 10px;
}
.orange   {background-color:  orange;}
.blue     {background-color:  blue;}
.green    {background-color:  green;}
.indigo   {background-color:  indigo;}
.crimson  {background-color:  crimson;}
.wheat    {background-color:  wheat;}
.tomato   {background-color:  tomato;}
.pink     {background-color:  pink;}

div :nth-child(4){
    border: 1px solid #000;
    background-color: lime;
}
.demo-after{
    border: 10px solid red;
}
.demo-after li{
    border: 1px solid #000;
    margin-bottom: 10px;
}

.demo-after :after{
    content: " end of li";
}


.position-static-demo .orange{
    top: 100px;
}
.position-relative-demo .indigo{
    position: relative;
    bottom: 100px;
    right: 100px;
    z-index: 2;
}
.position-relative-demo .wheat{
    position: relative;
    z-index: 1;
}
.position-relative-demo .crimson{
}






.position-absolute-demo .green{
    position: absolute;
    width: 200px;
    top: 100px; bottom: 100px;
    left: 100px; right: 100px;
    margin: auto;
}

.banner{
    border: solid 10px rgba(0, 0, 0, .5);
    width: 85%;
    margin: 50px auto 150px;
    position: relative;
}
.banner *{
    box-sizing: border-box;
}
.slide{
}
.slide img{
    width: 100%;
    height: auto;
    display: block;
}
.slide h2{
    background-color: rgba(0,0,0,.5);
    font-weight: normal;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    color: seashell;
    padding: 100px 25px 0;
    font-size: 30px;
    font-family: 'Sansita Swashed', cursive;
}
.slide h2 span{
    font-weight: 900;
    font-size: 42px;
    display: block;
    text-transform: uppercase;
}
.arrow span{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    top: 0; bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.arrow span:first-child{ left: -20px;}
.arrow span:last-child{ right: -20px;}


.site-footer{
    background-color: yellowgreen;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.chapter{
    background-color: lightgreen;
    margin: 20px 0;
    padding-bottom: 40px;
}
.chapter h2{
    background-color: yellowgreen;
    margin: 0 0 40px;
    padding: 20px 10px;
    position: sticky;
    top: 0;
}
.chapter p{
    padding: 5px 30px;
}

